@import 'colors';


@media (min-width: 800px) {
.carousel {
  .carousel-indicators.timeline {
    position: relative;
    left: 0px;
    margin: 0 auto;
    width: 100%;

    &>li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      text-indent: 0px;
      width: 17%;
    }

    &>li.active {
      &:after {
        background: $codeando-light;
        border: 3px solid $codeando-light;
      }
    }

    &>li:after {
      content: '';
      display: block;
      background: #eee;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      border: 3px solid #eee;
      position: relative;
      left: 50%;
      top: -60px;
      margin-left: -6px;
    }
  }
  .carousel-control {
    text-shadow: none;
    font-size: 14px;
  }
  .carousel-control.step {
      top: inherit;
      bottom: inherit;
      left: inherit;
      position: relative;

      span {
        font-size: 14px;
        width: 100px;
      }

      &.left {
        height: 12px;
        display: inline-block;
        top: 11px;
        span {
          margin-left: -40px;
          margin-top: -17px;
          width: 100px;
          height: 12px;
          color: $codeando-light;
          &:before { color: black;}
        }
      }

      &.right {
        span {
          padding-top: 22px;
          color: $codeando-light;
          &:after { color: black; }
        }
      }
    }
}}


@media (max-width: 799px) {
  .carousel-indicators.timeline {
    position: relative;
    left: 0px;
    margin: 0 auto;
    width: 100%;

    &>li {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      text-indent: 0px;
      display: none;
    }

    &>li.active {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 18px;
      color: $codeando-dark;
      font-weight: bold;
    }
  }

  .glyphicon-chevron-right-after {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    content: "";
    right: 50%;
    margin-right: -22px;
  }

  .glyphicon-chevron-right { content: "";}
}
