@import 'colors';
@import 'buttons';
@import 'boxes';
@import 'carousel';

// Sizes

$container-base-separation: 3em;


// Titles

h1, h2 {
    color: $codeando-light  !important;
}

.jumbotron  {
    background-color: transparent;
}

// containers

.container, .container-fluid {
    &.container-blue {
      background-color: $codeando-dark;
      color: white;
    }

    &.container-white {
      background-color: white;
      color: black;
    }

    &.separated {
      @extend .separated;
    }

    &.separated-top {
      @extend .separated-top;
    }

    &.separated-bottom {
      @extend .separated-bottom;
    }
}

// Separation

@mixin separated-top($separation: $container-base-separation) {
    padding-top: $separation;
}

@mixin separated-bottom($separation: $container-base-separation) {
    padding-bottom: $separation;
}

@mixin separated($separation: $container-base-separation) {
    @include separated-top($separation);
    @include separated-bottom($separation);
}

.separated { @include separated; }

.separated-top { @include separated-top; }

.separated-bottom { @include separated-bottom; }


.mini-separated {
  padding-top: $container-base-separation/4;
  padding-bottom: $container-base-separation/4;
}

.center-text {
    text-align: center;
}


body {
    background-color: $codeando-dark;
    color: white;
    font-size: 14px;
    padding-bottom: 0px;
}


// Navbar

.brand {
    max-width: 12.35em;
    float: left;
    display: block;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
    vertical-align: middle;

  .logo {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
  }
}

.navbar-toggle {
  vertical-align: middle;
  background-color: transparent;
  border-color: $codeando-light;

  color: white;

  span {
      background-color: $codeando-light;
  }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.dropdown-menu {
    background-color: #253350;
    border-color: #253350;
    color: white;
}

.navbar-collapse {
    li {

     a {
          color: white;
        &:hover, &:focus,  {
          background: $codeando-light;
          border-color: $codeando-light;
          color: white;
        }
      }

      &:hover {
          background: transparent;
          border-color: $codeando-light;
          color: $codeando-light;
      }
    }
}

//

.header, .jumbotron {
    border-bottom: none; // remove bar
    p {
      font-size: 14px;
    }
    .lead {
      font-size: 16px;
    }
}

p {
    font-size: 14px;
}

.lead {
    font-size: 16px;
}

.jumbotron .btn {
    font-size: 14px;
}


.play-icon {
    width: 45px;
}

// specific

.item-separator {
  text-align: center;
  width: 48%;
  display: inline-block;
}

@media (min-width: 800px) {
  .separator {
    border-left: 1px solid darken($codeando-dark, 5%);
  }

  @each $name, $color in (grey: $codeando-grey, blue: $codeando-light)  {
    .separator-#{$name} {
      border-left: 1px solid rgba($color, 0.3);
    }
  }

  .bar {
    height:3px;
    background:#eee;
    width:70%;
    position:relative;
    top:-32px;
    margin: 0 auto;

    //left:0;
  }
}

.thumbnail {
    border-color: transparent;
    background-color: transparent;
}

.glyphicon-chevron-right-after:after {
  content: "\e080";
}

// carousel
.carousel-control {
    &.left, &.right {
      background-image: none;

    }

    &.left {
        left: -2em;
    }

    &.right {
        right: -2em;
    }
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
        margin: 0 auto;
}

.blue {
    color: $codeando-light !important ;
}
.white {
    color: white !important;
}

// Suscription

.tick {
    &:hover {
        background-color:white;
        color: $codeando-light;
    }
    padding: 10px 15px;
    margin: 0.6;
}

.email {
    width: 19.5em;
    margin: 0.6em;
    background-color: transparent;
    color: white;
    border-color: 20px solid white !important;
    border-width: 2px;
    border-radius: 20px !important;
    padding: 10px 25px;
    height: 45px;
    border-style:solid;
}

// Footer

.footer {
    border-top: none;
    background-color: #F6F6F6;
}

.footer-menu {
    list-style: none;
    display: inline-block;
    font-size: 12px;


    &>li{
        list-style: none;
        vertical-align: top;
        display:inline-block;
        margin: 10px 1.5px;
       // margin-right: 1.5px;
        //margin-top: 10px;

        .footer-menu-head {
            font-weight: bold;
        }

        ul>li {
           list-style: none;
        }
    }

    .gt {
       img {
           margin-top: 5px;
           margin-bottom: 5px;
       }
    }
}

@media(max-width:  700px){
    .footer {
        margin: 0 auto;

        .logo  {
            width: 100%;
            margin-left: 0px;
            text-align: center;

            &>img {
            width: 200px;
            //margin-left: 60px;
            margin: 0 auto;
          }
        }
    }

    .footer-menu {
        clear: both;
        width: 100%;
        // float: none;
        width: 100%;
        display: block !important;
        // position: absolute;


        &>li {
          margin: 10px auto;
          display: block;

          &>ul {
              padding-left: 0px;
          }

          ul>li {
              display: block;
              text-align: center;
              margin: 0 auto;
          }

          ul>li>img {
              width: 30px;
              margin-top: 15px;
          }
        }
    }

    .dataset {
        margin: 30px 0px;
    }
}
