<div class="footer container-fluid container-grey separated-top separated-bottom">
    <div class="separation separated-bottom">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-4 logo"><img src="http://datamx.io/logo_cmx.png"></img></div>
            <ul class="footer-menu col-xs-6">
                <li><ul class="">
                    <li class="footer-menu-head">Datos</li>
                    <li class="">Organizaciones</li>
                    <li>Categorías</li>
                </ul></li>
                <li><ul>
                    <li class="footer-menu-head">Desarrolladores</li>
                    <li>APIs</li>
                    <li>Estándares</li>
                </ul></li>
                <li><ul>
                    <li class="footer-menu-head">Participa</li>
                    <li>Abre datos</li>
                    <li>Utiliza datos</li>
                    <li>Aprende</li>
                    <li>Comunidad</li>
                    <li>Centro de Apertura</li>
                </ul></li>
                <li><ul>
                    <li class="footer-menu-head">Acerca</li>
                    <li>¿Qué es?</li>
                    <li>FAQ</li>
                    <li>Blog</li>
                </ul></li>
                <li class="gt"><ul>
                    <li><img src="/images/github.svg"></img></li>
                    <li><img src="/images/twitter.svg"></img></li>
                </ul>
                </li>
            </ul></div>
    </div>
</div>
