{% extends "partials/skeleton" %}

{% block content %}
    <div class="container-fluid container-blue separated-bottom">
      <div class="jumbotron">
        <h2>Datos abiertos de ciudadanos para ciudadanos</h2>
        <p class="lead">Encuentra datos públicos de  sociedad civil, empresas,<br/>gobiernos y academia en un solo lugar.</p>
        <p class=""><a class="blue" href="#"><img class="play-icon" src="/images/playvideo@2x.png"></img> Ver video</a></p>
        <!-- boilerplate de separadores -->
        <div class="row">
          <div class="separated col-md-5 col-md-offset-1">
            <img class="mini-separated" src="/images/publica.svg">
           <p class="mini-separated">Entiendo como coladorar<br/> publicando datos</p>
            <button class="btn large">Publica datos</button>
          </div>
          <div class="separator separated col-md-5">
            <img class="mini-separated" src="/images/usa.svg">
            <p class="mini-separated">Descubre como usar<br/>datos abiertos</p>
            <button class="btn large">Usa datos</button>
          </div>
        </div>
        <!-- boilerplate de separadores -->
      </div>
    </div>

    <div class="container-fluid container-white separated">
      <div class="">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 center-text">

          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators separated-top">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active">

    </li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://codeforbtv.org/img/events/national-day-of-civic-hacking-2014-780x320.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="http://codeforbtv.org/img/events/design-workshop-780x320.jpg" alt="...">
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <img src="/images/flechaizq.svg"  class="glyphicon glyphicon-chevron-left" aria-hidden="true"></img>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <img src="/images/flechader.svg" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></img>
    <span class="sr-only">Next</span>
  </a>
</div>
        </div>
        </div>
      </div>

    </div>
    <div class="container-fluid container-blue mini-separated">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 center-text separated">
            <h3 class="white">Explora las distintas categorias de <span class="blue">datos abiertos</span></h3>
            <p class="separated-bottom">dummy text, más copy aquí abajo</p>

            <div class="row separated-bottom">
              <ul class="list-inline">
                <li class="thumbnail">
                  <img src="/images/iconoengrane.svg"></img>
                  <div class="caption">
                    <button class="btn btn-white medium">Administración</button>
                  </div>
                </li>
                <li class="thumbnail">
                  <img src="/images/iconobirrete.svg"></img>
                  <div class="caption">
                    <button class="btn btn-white medium">Educación</button>
                  </div>
                </li>
                <li class="thumbnail">
                  <img src="/images/iconomaletin.svg"></img>
                  <div class="caption">
                    <button class="btn btn-white medium">Empleo</button>
                  </div>
                </li>
                <li class="thumbnail">
                  <img src="/images/iconocartera.svg"></img>
                  <div class="caption">
                    <button class="btn btn-white medium">Presupuestos</button>
                  </div>
                </li>
                <li class="thumbnail">
                  <img src="/images/iconosalud.svg"></img>
                  <div class="caption">
                    <button class="btn btn-white medium">Salud</button>
                  </div>
                </li>
              </ul>
            </div>
            <a href="#" class="blue">Ver todos los datos  ></a>
          </div>
      </div>
    </div>

    <div class="container-fluid container-white separated">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 center-text separated">
        <h3 class="blue">Datos abiertos populares</h3>
        <p class="separed-bottom">Explora los  datos que están siendo más utilizados por la comunidad</p>
        <div class="dataset-container col-xs-12 separated">
          <ul>
            <li class="dataset">
                <h4>Censado</h4>
                <p>Información sobre centros de trabajo, salud, personal</p>
            </li>
            <li class="dataset">
              <h4>Comercio</h4>
              <p>Lista del comerciós locales por ciudad.</p>
                          <div class="buttons-container">
              <a class="btn">vnd.google-earth.kml+xml</a>
              <a class="btn xmls">xmls</a>
              <a class="btn csv">csv</a>
              <a class="btn pdf">pdf</a>
             <!--img class="engrane" src="/images/iconoengrane.svg"></img-->
            </div>
            </li>
            <li class="dataset">
              <h4>Lista de contratos</h4>
              <p>Contratos del gobierno</p>
              <div class="buttons-container">
              <a class="btn csv">csv</a>
              <a class="btn pdf">pdf</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="container-fluid separated">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 center-text separated-top">
        <p class="white">Súmate a la comunidad de datos abiertos de México</p>
        <form>
          <div class="input-group-lg separated-bottom">
            <input type="email" class="email" placeholder="Correo electrónico" name="email"/>
            <button class="btn tick"><img src="/images/tick.svg"></img></button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
